<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>SESI SENAI 2025 - ITAPEVA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/estilo.css">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<header id="topo">
		<figure>
			<img src="../static/logo.png">
		</figure>
		<section id="logo">
			<h1><span>Curso técnico em</span><br> Desenvolvimento de Sistemas</h1>
			<p>SESI SENAI ITAPEVA - 2025 - 5º Itinerário Formativo</p>
		</section>
	</header>
	<div id="frase">
		<p>Portfólio de projetos desenvolvidos na Unidade Curricular Linguagem de Marcação.</p>
	</div>

	<main>
		{% for card in cards %}
		<section class="boxaluno">
			<h2>{{ card.nome }}</h2>
			{% if card.link1 %}
			<a href="{{card.link1}}" target="_blank">
				<button>Cards</button></a>
			{% else %}
			<a href="#">
				<button disabled>Cards</button></a>
			{% endif %}
			{% if card.link2 %}
			<a href="{{card.link2}}" target="_blank">
				<button>Jornal</button></a>
			{% else %}
			<a href="#">
				<button disabled>Jornal</button></a>
			{% endif %}
			{% if card.link3 %}
			<a href="{{card.link3}}" target="_blank">
				<button>Cardápio Digital</button></a>
			{% else %}
			<a href="#">
				<button disabled>Cardápio Digital</button></a>
			{% endif %}		

			<!-- 

			<a href="https://anapaulamaximo.github.io/Projeto-BioGraphs/" target="_blank">
				<button>Biografia</button></a>

			<a href="https://anapaulamaximo.github.io/Formulario/" target="_blank">
				<button>Formulário</button></a> -->

		</section>
		{% endfor %}


	</main>


	<p class="backtotop"><a href="#topo">Voltar para o topo</a></p>
	<footer>
		<p>Escola SENAI Luiz Pagliato - Sorocaba/SP</p>
		<p>Escola SESI de Itapeva - Itapeva/SP</p>
		<p>2025</p>
	</footer>

</body>

</html>